/*html, body {
  background:      #121212;
  color:           rgb(255, 255, 255);
}*/

.gameHeadline2 {
  color: white;
}
.background{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  display: none;
  
  

}
.defeatButton {
  width: 45%;
  margin: 10px;
  

}

.img{
  width: 700px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
  text-align: center;
  padding: 20px;
  margin: auto;
  
}
.content{
  width: 500px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
  text-align: center;
  padding: 20px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.startButton {
  min-width: 80px;
  max-width: 750px;
  width: 10%;
  margin: 10px;
}
.gameBody {
  background-color: black;
}
.highscoreBody {
  background-color: black;
}
.snakeIt {
  color: white;
}
.workaround {
  display: none;
}
.highscorePreview {
  position: relative;
  align-self: flex-end;
}

.mobileBtn button {
  background-color: #808080;
  border: 1px solid rgb(64, 65, 64);
  color: white;
}
