
<div class="background">
  <head><link rel="stylesheet" href="style.css"></head>
  
<div class=content>
<img src="https://i.kym-cdn.com/entries/icons/facebook/000/000/260/youjustlost.jpg" alt="" height="275x" width="275x">
<button type="button">tyr again</button>
<button type="button">submit</button>
</div>

</div>



