
<div class="background">
  <head><link rel="stylesheet" href="/public/style_defeat.css"></head>
  
<div class="content">
<img class="img" src="so.png" alt="">.
<button type="button">Try again!</button>
<a href="http://google.de"><button>Submit!</button></a>



</div>

</div>



