<!doctype html>
<html lang="en">
<head>
  <% include ../partials/header %>
</head>

<body class="highscoreBody">
  <%- include('../partials/nav', { active: 'Highscore' }) %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(elem => { %>
      <tr>
        <td><%= data.indexOf(elem) %></td>
        <td><%= elem.Username %></td>
        <td><%= elem.Highscore %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</body>

</html>
