<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/public/style.css">
  <h1>Snake Game</h1>
  <script>require = () => ({}); module = {}; module.exports = () => ({})</script>
  <link rel="stylesheet" href="/public/style_defeat.css">
</head>

<body>
  <button id="gamestart" type="submit">Start</button>
  <canvas id="gamecanvas" width="700" height="700"></canvas>
  <script src="/public/snake.js"></script>

  <div class="background">
    <div class="content">
      <img class="img" src="/views/pages/so.png">
      <a href="http://google.de"><button>Highscore</button></a>
      <a href="javascript:location.reload()"><button>Try again!</button></a>
    </div>
  </div>
</body>

</html>
