<!doctype html>
<html lang="en">
  <head>
    <h1>Snake Game</h1>
    <script>require=()=>({}); module={}; module.exports=()=>({})</script>
  </head>
  <body>
    <canvas id="gamecanvas" width="700" height="700"></canvas>
    <script src="/public/snake.js"></script>
  </body>
</html>
