<!doctype html>
<html lang="en">
  <head>
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="/public/style.css">
    </head>
  </div>
  <style>
  div{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  </style>
<h1>Snake It</h1>
<div class="container">
  Username: <input type="Username">
  <input type="submit" value="Submit">
  

</div>


</form>
</div>
</html>
