<!doctype html>
<html lang="en">
  <head>
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="/public/style.css">
      <% include ../partials/header %>
  </head>
  <body class="gameBody">
    <h1 class="snakeIt">SnakeIt</h1>
    <form method="POST" action="/login">
      <div class="input-group mb-3 container">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Username:</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"  name="uname">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Submit</button>
        </div>
      </div>
    </form>
  </body>
</html>
